@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@layer utilities {
  .box {
    @apply lg:max-w-7xl lg:w-full px-5;
  }
  .card {
    @apply bg-base-200 hover:bg-white shadow-none hover:shadow-3xl;
  }

  .arise-button {
    @apply btn bg-accent rounded-none outline-none text-white hover:bg-white hover:text-black duration-200 transition-colors;
  }

  .icon-class {
    @apply text-primary w-8 h-8;
  }

  .icon {
    @apply flex justify-center items-center w-7 md:w-9  h-7 md:h-9 bg-slate-300 hover:bg-accent rounded-full cursor-pointer;
  }

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .head-text {
    @apply text-5xl md:text-6xl tracking-tighter leading-tight mb-6 text-accent;
  }

  .sub-text {
    @apply text-xl leading-relaxed pb-4;
  }

  .info-text {
    @apply font-montserrat text-slate-gray leading-7;
  }
}
